<ion-card class="tarjeta">

  <!-- CUADRO DE LA IMAGEN -->
  <div class="tarjeta-imagen">
    <img [src]="restaurante.imagen" [alt]="restaurante.nombre">
  </div>

  <!-- INFORMACIÓN DE LA TARJETA -->
  <div class="tarjeta-texto">

    @if (!mostrarProductos) {

      <h3>
        {{ restaurante.nombre }}
      </h3>

      <p>
        {{ restaurante.direccion }}
      </p>

      <ion-button (click)="verProductos()">
        Ver productos
      </ion-button>

    }

    @if (mostrarProductos) {

      <h3>
        {{ restaurante.nombre }}
      </h3>

      @for (producto of productos; track producto.id) {

        @if (producto.restauranteId === restaurante.id) {

          <p>
            {{ producto.nombre }} - ${{ producto.precio }}
          </p>

        }

      }

      <ion-button (click)="verProductos()">
        Ocultar productos
      </ion-button>

    }

  </div>

</ion-card>

