<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi restaurante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">

  @if (!miRestaurante) {
    <app-form-restaurante (restauranteCreado)="guardarRestaurante($event)"></app-form-restaurante>
  } @else {
    <ion-card class="tarjeta-restaurante">
      <div class="tarjeta-imagen">
        <img [src]="miRestaurante.imagen" [alt]="miRestaurante.nombre"></div>

      <div class="tarjeta-texto">
        <h2>{{ miRestaurante.nombre }}</h2>
        <p>{{ miRestaurante.direccion }}</p>
      </div>
    </ion-card>

    <app-form-producto [restauranteId]="miRestaurante.id" (productoCreado)="agregarProducto($event)"></app-form-producto>

    <h3 class="ion-text-center">Mis productos</h3>
    <div class="grilla-productos">
      @for (producto of productosPropios; track producto.id) {
        <ion-card class="tarjeta-producto">
          <div class="producto-imagen">
            <img src="assets/img/test.png" [alt]="producto.nombre">
          </div>

          <div class="producto-texto">
            <h3>{{ producto.nombre }}</h3>
            <p>${{ producto.precio }}</p>
          </div>
        </ion-card>
      }
    </div>
  }

</ion-content>